<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .Title }}</title>

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <!-- Bootstrap Core CSS -->
    <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ .Site.BaseURL }}css/clean-blog.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/clean-blog.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </div>

            {{ partial "navbar.html" . }}
        </div>
    </nav>
