<footer>
	<nav class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					{{ if .PrevInSection }}
						<a href="{{ .PrevInSection.Permalink }}">&laquo;&laquo; {{ .PrevInSection.Title }}</a>
					{{ end }}
				</div>

				<div class="col-lg-6 col-md-12 text-right">
					{{ if .NextInSection }}
						<a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;&raquo;</a>
					{{ end }}
				</div>
			</div>
		</div>
	</nav>
</footer>
