{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
	<div class="container">
		<hgroup>
			<h2 class="subtitle is-6">{{ .Date.Day }} {{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }} / {{ .Params.author }}</h2>
			<h1 class="title">{{ .Title }}</h1>
			<ul class="tags">
				{{ range .Params.tags }}
					<li>#{{ . }}</li>
				{{ end }}
			</ul>
		</hgroup>
		<div class="content">
			{{ .Content }}
		</div>
	</div>
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
